<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}
  <h1>Finanical Portal </h1><sub>by Thomas Choi</sub>
  <p></p>
  <p>
    I am launching this site to share my
       investment experience and strategies.
       It starts with the "Stock Pick from Indexes".
       The process of this is picking a stock index holdings
       and use the CAP/M to evaulate the best Weighting.
       I only pick the Maximum Sharpe Ratio, ie, the return/risk
       ration.
  </p>
  <p>
    This is the first draft of the website. It is verified the correctness
    of the page flows and functionalities.
  </p>
{% endblock %}
