<!DOCTYPE html>
{% extends "base.html" %}
  {% block body_block %}
    <h1>Welcome to Portfolio Selection Page!</h1>
    <div class="container">
      <form  method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Get Weighting</button>
      </form>
      {% if text %}
      <h2>{{ text }}</h2>
      <img src="http://www.pythonanywhere.com/user/tchoi2007/files/home/tchoi2007/graph.png" alt="EEF pic here">
      {%for item in weightings%}
        <li>{{ item }}</li>
      {% endfor %}
      {% endif %}
    </div>
  {% endblock %}
